---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "#",
    description: "Club Atletismo Villaverde",
    icon: "mdi:home",
    target: "_self"
  },
  {
    url: "https://www.instagram.com/clubatletismovillaverde/",
    description: "Club Atletismo Villaverde en Instagram",
    icon: "fa-brands:instagram",
    target: "_blank"
  },
  {
    url: "https://twitter.com/club_villaverde",
    description: "Club Atletismo Villaverde en twitter",
    icon: "fa-brands:twitter",
    target: "_blank"
  },
  {
    url: "https://www.youtube.com/@clubatletismovillaverde",
    description: "Club Atletismo Villaverde en YouTube",
    icon: "fa-brands:youtube",
    target: "_blank"
  }
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-4 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
            target={link.target}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
