---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black pt-10 pr-2 pl-2">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0  opacity-10">
    <HeroImage />
  </div>
  <div class="relative  h-full place-items-center">
    <h2
      class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-center"
    >
      <Icon name="logo-club-blanco" class="h-64 text-white md:h-128" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
      Club Atletismo Villaverde
      <br /> <span class="text-6xl">#VillaverdeCorre</span>
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
