---
import ContentSection from "~/components/content-section.astro";
import TriatlonImage from "~/assets/triatlon.jpg";
import { Image } from "astro:assets";
---

<ContentSection title="Club de Triatlón" id="triatlon">
  <Fragment slot="lead">
    Descubre el <span class="text-primary">Triatlón</span> con el <span class="text-primary">Club Atletismo Villaverde</span>. ¡Únete a nosotros para disfrutar de esta emocionante disciplina!
  </Fragment>
    <ul class="max-w-4xl text-center font-extrabold text-lg">
        <li>Nuestro club de <span class="text-primary">triatlón</span> está diseñado para atletas de todos los niveles, desde <span class="text-primary">principiantes</span> hasta <span class="text-primary">expertos</span>.</li>
        <li>Ofrecemos entrenamientos <span class="text-primary">personalizados</span> y <span class="text-primary">guiados</span> por entrenadores especializados.</li>
    </ul>
    <Image
        class="h-150 w-150 place-items-center"
        src={TriatlonImage}
        sizes="50vw"
        alt="Triatlón  - Club Atletismo Villaverde"
        />
    <ul class="max-w-4xl text-center font-extrabold text-lg">
        <li>Participamos en eventos locales y nacionales, y ofrecemos entrenamientos especializados para mejorar en <span class="text-primary">natación</span>, <span class="text-primary">ciclismo</span> y <span class="text-primary">carrera</span>.</li>
    </ul>
</ContentSection>
